extends layout

block content
  div(class='span3')
    h1 and i'm in a span 10!
  div(class='span3')
    h1 and i'm in a span 10!
  div(class='span3')
    h1 and i'm in a span 10!
  div(class='span3')
    h1 and i'm in a span 10!
