doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/custom.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/backbone-min.js')
    script(src='/javascripts/modernizr.custom.js')
  body
    div(class='navbar navbar-fixed-top')
      div(class='navbar-inner')
        div(class='container-fluid')
          a(class='btn btn-navbar', data-toggle='collapse', data-target'.nav-collapse')
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(class='brand', href='#/') Msft
          div(class='nav-collapse collapse')
            ul(class='nav')
              li(class='dropdown')
                a(class='dropdown-toggle', data-toggle='dropdown') View
                  b(class='caret')
                ul(class='dropdown-menu')
                  li
                    a(href='#/image/view') Images
                  li
                    a(href='#/page/view') Pages
                  li
                    a(href='#/campaign/view') Campaigns
                  li
                    a(href='#/template/view') Templates
              li(class='dropdown')
                a(class='dropdown-toggle', data-toggle='dropdown') Create
                  b(class='caret')
                ul(class='dropdown-menu')
                  li
                    a(href='#/image/create') Image
                  li
                    a(href='#/page/create') Page
                  li
                    a(href='#/campaign/create') Campaign
                  li
                    a(href='#/template/create') Template
              li
                a(href='#/help') Help
              form(class='pull-right navbar-search')
                input(type='text', class='search-query', placeholder='Find by term')
    section(class='container-fluid', id='content-wrapper')
      div(class='row-fluid')
        block content