//
// Grid system
// --------------------------------------------------


// Fixed (940px)
#grid > .core(@gridColumnWidth, @gridGutterWidth);

// Fluid (940px)
#grid > .fluid(@fluidGridColumnWidth, @fluidGridGutterWidth);

// Reset utility classes due to specificity
[class*="span"].hide,
.row-fluid [class*="span"].hide {
  display: none;
}

[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
  float: right;
}

.row-fluid {

  [class*="span"] {
    background-color: @msftBlue;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8), inset 2px 2px 4px rgba(255,255,255,0.2), inset -2px -2px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8), inset 2px 2px 4px rgba(255,255,255,0.2), inset -2px -2px 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8), inset 2px 2px 4px rgba(255,255,255,0.2), inset -2px -2px 4px rgba(0,0,0,0.1);
    .border-radius(2px);
    
    &:nth-child(2n) {
      background-color: @msftGreen;
    }
    
    &:nth-child(3n) {
      background-color: @msftPurple;
    }
    
    &:nth-child(4n) {
      background-color: @msftYellow;
    } 
    
    &:nth-child(5n) {
      background-color: @msftRed;
    }    
    
    &:nth-child(6n) {
      background-color: @msftYellow;
    }      
    
    &:nth-child(7n) {
      background-color: @msftPurple;
    }  
    
    &:nth-child(8n) {
      background-color: @msftGreen;
    }  

    &:nth-child(9n) {
      background-color: @msftBlue;
    }    
    
    &:nth-child(10n) {
      background-color: @msftGreen;
    }    
    
    &:nth-child(11n) {
      background-color: @msftPurple;
    }     
    
    &:nth-child(12n) {
      background-color: @msftYellow;
    }     
  }
  
  
  
  > h1, > h2, > h3, > h4, > h5, > h6, > p, >a , > span, > table, > ul, > b, > div {
    padding: 10px;
  }  
}